body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
h1{
    font-size: xx-large;
}
.upper-list, .saved-form{
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.upper-list .input{
    height: 30px;
    width: 60%;
    margin-right: 1%;
}
select{
    width: 20%;
    height: 35px;
    margin-right: 1%;
}
button{
    width: 10%;
    height: 35px;
    background-color: rgb(155, 195, 235);
    border-radius: 5px;
    border: none;
    margin: 0px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(155, 8, 235);
}
.task-input{
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.filter{
    margin-left: 0px;
}
h3{
    margin-top: 40px;
    text-align: left;
    margin-bottom: 40px;

}
.all{
    margin-left: 15px;
    font-weight: 500;
    font-size: medium;
    color: rgb(64, 86, 142);
}
.all:hover{
    cursor: pointer;
    text-decoration: underline;
    transition-duration: 3ms;
}
.input-saved{
    height: 30px;
    width: 50%;
    margin-right: 1%;
}
form{
    display: inline;
    unicode-bidi:normal;
}

#Priority, .update{
    width: 20%;
}
.delButton{
    width: 20%;
    text-align: left;
}
.delete{
    width: 80%;
}
.added-list{
    width: 80%;
}
.saved-form{
    border-left: 5px solid rgb(32, 178, 83);
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: right;
    gap: 1%;
}
.todo-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.right-align{
    width: 100%;
}

#check{
    margin-right: 10px;
    width: 30%;
    text-align: left;
}
hr{
    height: 2px;
    opacity: 30%;
}
